h1{
    color: #67328D;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 200px;
}
h1 span{
    color: #06D6A0;
}
h2{
    color: #67328D;
    margin-left: 90px;
    margin-top: 60px;
    font-size: 24px;
    text-align: center;
}
input{
    background-color: #DEECF7;
    padding: 10px;
    border-radius: 10%;
    font-size: 18px;
}
p{
    font-size: 14px;
}

.containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.containers .container img{
    max-height: 100%;
    max-width: 100%;
}
.container{
    height: 120px;
    width: 120px;
    padding: 2%;
}
.text{
    font-size: 24px;
    margin-left: 90px;
}

.section {
    width: 40%;
    padding: 40px 0;
    display: flex;
}
.section > *{
    display: inline-block;
    
}
.section2{
    margin: 0 10%;
}

.lock{
    font-size: 24px;
    margin-left: 150px;
    padding: 40px;
}


.satifaction{
    display: flex;
    margin: 70px;
}
.text-satifaction{
    width: 40%;
    padding:  0 100px;
}
